<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myBean" class="spring.tutorial.MyBean" init-method="init">
        <property name="name">
            <value>I am a simple bean</value>
        </property>
    </bean>

    <bean id="myBean2" class="spring.tutorial.MyBean" init-method="init">

    </bean>

    <!-- /////////////////////// -->

    <bean id="myBeanWithInitInterface" class="spring.tutorial.MyBeanWithInitInterface">
        <property name="name">
            <value>I am a simple bean</value>
        </property>
    </bean>

    <bean id="myBeanWithInitInterface2" class="spring.tutorial.MyBeanWithInitInterface">

    </bean>

    <!-- /////////////////////// -->

    <bean id="myBeanDestroy" class="spring.tutorial.MyBean" destroy-method="destroy">
        <property name="name">
            <value>I am a simple bean</value>
        </property>
    </bean>

    <bean id="myBeanDestroyWithInitInterface" class="spring.tutorial.MyBeanWithInitInterface">

    </bean>

</beans>