<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean class="helianthus.core.util.springframework.SpringQueryConfigurationFactoryBean"
          name="mappingHelper">

        <property name="queryConfigPath" value="queryConfig.xml"/>
    </bean>

    <bean class="helianthus.core.access.impl.db.DataBaseGenericDataAccessImpl"
            name="genericDataAccess" >
        <!-- this must be provided out of the box -->
        <property name="connectionProviderService" ref="connectionProviderService"/>
    </bean>

    <bean class="helianthus.core.impl.OperationMappingHelianthusServiceImpl" name="helianthusService">
        <!-- this must be provided out of the box -->
        <property name="mappingHelper" ref="mappingHelper" />
        <property name="genericDataAccess" ref="genericDataAccess"/>
    </bean>

    <bean class="helianthus.core.marshall.MarshallFormatFactory"
          name="marshallFormatFactory">

        <property name="marshallFormatterHashMap">
            <map>
                <entry key="json">
                    <bean class="helianthus.core.marshall.tableresult.TableResultJSONMarshallFormatter"/>
                </entry>
                <entry key="html">
                    <bean class="helianthus.core.marshall.tableresult.TableResultHTMLMarshallFormatter"/>
                </entry>
                <entry key="xml">
                    <bean class="helianthus.core.marshall.tableresult.TableResultXMLMarshallFormatter"/>
                </entry>
                <entry key="bin">
                    <bean class="helianthus.core.marshall.BinaryMarshallFormater"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean class="helianthus.core.web.workflow.step.OperationRunnerWorkFlowStep"
          name="operationRunnerWorkFlowStep">

        <property name="helianthusService" ref="helianthusService"/>
        <property name="operationMappingHelper" ref="mappingHelper"/>
    </bean>

    <!-- this may be change if you desire a diff functionality -->
    <bean class="helianthus.core.util.PathHandler" name="pathHandler"/>

    <!-- this may be change if you desire a diff functionality -->
    <bean class="helianthus.core.web.workflow.WorkFlowFactory" name="workFlowFactory">
        <property name="marshallFormatFactory" ref="marshallFormatFactory"/>
        <property name="operationRunnerWorkFlowStep" ref="operationRunnerWorkFlowStep"/>
    </bean>

</beans>