<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="emailStatsLoginListener"
          class="spring.tutorial.events.EmailStatsLoginListener"/>

    <bean id="loggerUserLoginListener"
          class="spring.tutorial.events.LoggerUserLoginListener"/>


    <bean id="loginEventPublisher"
          class="spring.tutorial.events.LoginEventPublisher"/>

</beans>